h1{
    text-align: center;
    margin-bottom: 70px;
    font-weight: 600;
}

body{
    margin-left:20px;
    margin-right: 20px;

}

button{
    margin-top: 50px;
}

.budget_limit{
    justify-content: center;
    margin:30px 20px;
    text-align: center;
}
.budget_limit form table{
    margin-bottom: 20px;
}

.create{
    justify-content: center;
    text-align: center;
    
}


