h1{
    text-align: center;
    margin-bottom: 70px;
    font-weight: 600;
    
}
body{
    margin-left: 20px;
    margin-right: 20px;
}

a {
    align-items: center;
    text-align: center;
}
.create{
    justify-content:center;
    text-align: center;
}