h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;

}
h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
body{
    margin-left: 20px;
    margin-right: 20px;
}
p{
    text-align: center;
    justify-content: center;
    font-weight: 500;

}
table{
    text-align: center;
    justify-content: center;
}