{% load static %}
{% include 'header.html' %}

<!DOCTYPE html>
<html>
<head>
    <title>Expense List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'expense_list.css' %}">
</head>
<body>
    <h1><b>Expense List</b></h1>

    <form action="{% url 'clear_expenses' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Clear</button>
    </form>
    
   




    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.title }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.date }}</td>
                <td>
                    <form action="{% url 'delete_expense' expense.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="create">
    <a class="btn btn-success" href="{% url 'create_expense' %}">Add Expense</a>
    
    <a class="btn btn-secondary" href="{% url 'expense_report' %}">Show report</a>
     </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
